<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="style.css" />
		<title>Login - Woot</title>
	</head>
	<body>
		<div class="content login-wrapper">
			<div class="login-header bold">
				<span id="header-text">Log in to</span> <span class="header-woot">Woot</span>.
			</div>
			<form action="POST" class="LogInForm" id="login-form">
				<input type="text" name="username" id="username" placeholder="User handle" />
				<input type="password" name="password" id="password" placeholder="Password" />
				<button type="submit">Sign in</button>
			</form>

			<form action="POST" style="display: none" class="LogInForm" id="signup-form">
				<input type="text" name="username" id="username" placeholder="User Handle" />
				<input type="password" name="password" id="password" placeholder="Password" />
				<input
					type="password"
					name="confirm-password"
					id="confirm-password"
					placeholder="Confirm password"
				/>
				<button type="submit">Sign up</button>
			</form>

			<span class="login-btm-text">
				<span id="bottom-text">Don't have an account?</span>
				<span onClick="switchState()" class="signup-link" id="bottom-text-link">Sign up</span>
				.</span
			>
		</div>
		<script src="login.js" type="text/javascript"></script>
	</body>
</html>
